@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

:root {
  --dark-purple: #24053e;
  --neon-green: #44ffa1;
  --dark-gray: #584d62;
  --dark-white: #fcf8ff;
  --white: #ffffff;

  --bold: 600;
  --semi-bold: 400;

  --text-small: 16px;
  --heading-medium: 56px;

  --line-height-text: 32px;
  --line-height-heading-medium: 64px;

  --manrope: "Manrope", sans-serif;
  --fraunces: "Fraunces", sans-serif;

  /* 32px font size, 40px line height, Fraunces font family, with a fallback to sans-serif */
}

body {
  margin: 5 auto;
}

h1 {
  font: 600 var(--my-font); /* Semi-bold font weight (600) and the font variable */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-purple);
  padding: 1.5rem;
}

#nav-link {
  color: var(--white);
  font-weight: var(--bold);
  font-family: var(--manrope);
  font-size: var(--text-small);
  line-height: var(--line-height-text);
}

#nav-link:hover {
  color: var(--neon-green);
}

.green-underline {
  border-bottom: solid medium var(--neon-green);
}

#heading-text {
  color: var(--white);
  font-weight: var(--semi-bold);
  font-family: var(--fraunces);
  font-size: var(--heading-medium);
  line-height: var(--line-height-heading-medium);
}

#heading {
  flex: 1;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1 rem; */
}

.full-button {
  /* align-items: flex-start; */
  background-color: var(--neon-green);
  color: var(--dark-purple);
  padding: 1rem 2rem 1rem 2rem;
  font-weight: var(--bold);
  font-family: var(--manrope);
  font-size: var(--text-small);
  line-height: var(--line-height-text);
}
